
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./assets/img/Fichier\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: auto;
    height:45vh;
}
#slider{
    width: 100%;
}
nav{
    align-items: center;
    display: flex;
    width: 80%;  
    margin: auto; 
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none; 
    justify-content: space-around;
    width: 100%;
}
a{
    text-decoration: none;
    color: moccasin;
}
#beige{
    color: peru;
}
i{
    color: whitesmoke;
}
i:hover{
    color: tomato;
}
#chevron{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    text-align: center;
    color: white;   
}
#unique{
    font-size: 250%;
}
p{
    text-align: center;
    color: white;
}
button{
    line-height: 3;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    color: black;
    font-style: oblique;
    border-radius: 10px;
    background-color: bisque;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 40px;
}
button:hover{
    background-color: orange;
}
#cercles{
    background: peachpuff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
 }
 #cercles{
    background: peachpuff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    }
#rond{
    border: 2px solid rgb(238, 142, 45);
    border-radius: 50%;
    width: 6px;
    height: 6px;
}
#puces{
    width:100px ;
    display: flex;
    justify-content: space-between;
    margin-left: 470px;
    margin-top: 40px;
}
main{
    width: 100%;
    margin: auto;
    height:1000px;
}
#domaines{
    padding-top: 40px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.domaine1{
    text-align: center;
}
.domaine1 i{
    color:black;
}
.domaine1 h2{
    font-size: 20px;
}
.domaine1 p{
    color: grey;
}
.separateur{
    background: grey;
    border-radius: 30%;
    width: 80px;
    height: 5px;
    margin-left: 30px;
}
#domaine2{
    text-align: center;
}
#domaine2 i{
    color: chocolate;
}
#domaine2 h2{
    font-size: 20px;
    color: chocolate;
}
#domaine2 p{
    color:grey;
}
#separateur1{
    background: chocolate;
    border-radius: 30%;
    width: 80px;
    height: 5px;
    margin-left: 30px;
}
#slogan{
    padding-top: 40px;
    width: 95%;
    height: 431px;
}
#slogan h1{
    color: black;
}
#slogan p{
    color: grey;
}
#photos{
    position: relative;
}
img.superpose{
    position: absolute;
    top: 20px;
    left: 10px;
}
/* photo de gauche avec le telephone */
#photo1{
    z-index: 10;
    position: absolute;
    top: 72px;
    left: 110px;
}
/* paysage image centrale */
#photo2{
    z-index:11; 
    position: absolute;
    left: 300px;
}
#photo3{
   z-index:9;
   position: absolute;
   left: 460px;
   top: 72px;
}
#theme{
   background-color: rgb(44, 26, 2);
   background-size: cover;
   height: 140px;
}
h1 span{
    color: grey;
}
#wp{
    margin-right: 400px;
}
#wptheme{
    color: rgb(87, 66, 54);
    margin-right: 470px;
}
.bouton a{
    display: block;
    width: 100px;
    line-height: 35px;
    border-radius: 20%;
    text-align: center;
    background-color: rosybrown;
    color: rgb(44, 26, 2);
    position: absolute;
    left: 700px;
    font-style: oblique;
}
#projets{
    width: 95%;
    height: 800px;
    margin-top: 20px;
}
#projets h1{
    color: black;
}
#projets p{
    color: black;
}
#projects{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: black;
}
#projects ul{
    list-style-type: none;
    
 }
 #beige2{
     color: peru;
     border: 1px solid brown;
     background-color: brown;
 }
.suite{
    color: black;
    border: 1px solid black;
}
.rang1{
    
    display: flex;
    width: 90%;
    margin: auto;
}
.rang1 figcaption h2{
    padding-top: 10px;
    color: #998675;
}
.rang1 figcaption p{
    margin-right: 230px;
}
#un{
    height: auto;
}
#deux{
    
}
.rang2{
    display: flex;
    width: 80%;
    margin: auto;
}
#video{
    width: 95%;
    height: 100px;
    background-color: pink;
}

#mobile{
    width: 95%;
    height: 100px;
    background-color:greenyellow;
}

#compteurs{
    width: 95%;
    height: 100px;
    background-color: hotpink;
}

#posts{
    width: 95%;
    height: 100px;
    background-color: mediumpurple;
}

#logos{
    background-image: url(./assets/img/background\ partner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    width: auto;
    height:120vh;
}
#stamps{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 40px;
    
}
#com{
    width: 95%;
    height: 100px;
    background-color: brown;
}

footer{
    width: auto;
    height: 50px;
    background-color: cadetblue;
}

