
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./assets/img/Fichier\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: auto;
    height:45vh;
}
#slider{
    width: 100%;
}
nav{
    align-items: center;
    display: flex;
    width: 80%;  
    margin: auto; 
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none; 
    justify-content: space-around;
    width: 100%;
}
a{
    text-decoration: none;
    color: moccasin;
}
#beige{
    color: peru;
}
i{
    color: whitesmoke;
}
i:hover{
    color: tomato;
}
#chevron{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    text-align: center;
    color: white;   
}
#unique{
    font-size: 250%;
}
p{
    text-align: center;
    color: white;
}
button{
    line-height: 3;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    color: black;
    font-style: oblique;
    border-radius: 10px;
    background-color: bisque;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 40px;
}
button:hover{
    background-color: orange;
}
#cercles{
 background: peachpuff;
 border-radius: 50%;
 width: 8px;
 height: 8px;
 }
 #cercles{
    background: peachpuff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    }
#rond{
    border: 2px solid rgb(238, 142, 45);
    border-radius: 50%;
    width: 6px;
    height: 6px;
}
#puces{
    width:100px ;
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
    margin-top: 40px;
}
main{
    background-color: bisque;
    width: 80%;
    margin: auto;
    height:1000px;
    
}
#domaines{
    width: 95%;
    height: 100px;
    background-color: chocolate;
}

#slogan{
    width: 95%;
    height: 100px;
    background-color: darkcyan;
}

#theme{
    width: 95%;
    height: 100px;
    background-color: darkgoldenrod;
}

#projets{
    width: 95%;
    height: 100px;
    background-color: purple;
}

#video{
    width: 95%;
    height: 100px;
    background-color: pink;
}

#mobile{
    width: 95%;
    height: 100px;
    background-color:greenyellow;
}

#compteurs{
    width: 95%;
    height: 100px;
    background-color: hotpink;
}

#posts{
    width: 95%;
    height: 100px;
    background-color: mediumpurple;
}

#logos{
    width: 95%;
    height: 100px;
    background-color: palevioletred;
}
#com{
    width: 95%;
    height: 100px;
    background-color: brown;
}

footer{
    width: auto;
    height: 50px;
    background-color: cadetblue;
}

