
header{
    background-image: url(./assets/img/Fichier\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: auto;
    height:40vh;
}
#slider{
    width: 100%;
}
nav{
    align-items: center;
    display: flex;
    width: 80%;  
    margin: auto; 
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none; 
    justify-content: space-around;
    width: 100%;
}
a{
    text-decoration: none;
    color: moccasin;
}
#beige{
    color: peru;
}


main{
    background-color: bisque;
    width: 80%;
    margin: auto;
    height:1000px;
}
#domaines{
    width: 95%;
    height: 100px;
    background-color: chocolate;
}

#slogan{
    width: 95%;
    height: 100px;
    background-color: darkcyan;
}

#theme{
    width: 95%;
    height: 100px;
    background-color: darkgoldenrod;
}

#projets{
    width: 95%;
    height: 100px;
    background-color: purple;
}

#video{
    width: 95%;
    height: 100px;
    background-color: pink;
}

#mobile{
    width: 95%;
    height: 100px;
    background-color:greenyellow;
}

#compteurs{
    width: 95%;
    height: 100px;
    background-color: hotpink;
}

#posts{
    width: 95%;
    height: 100px;
    background-color: mediumpurple;
}

#logos{
    width: 95%;
    height: 100px;
    background-color: palevioletred;
}
#com{
    width: 95%;
    height: 100px;
    background-color: brown;
}

footer{
    width: auto;
    height: 50px;
    background-color: cadetblue;
}

